.pageContainer {
  font-family: monospace !important;
  margin-bottom: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2b2b2b;
  color: #ffffff;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  margin: auto;
}

.pageTitle {
  font-family: monospace !important;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.inputContainer {
  font-family: monospace !important;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3a3a3a;
  padding: 1rem;
  transition: 0.3s ease-in-out;
  margin-bottom: 1rem;
}

.inputWrapper:hover {
  background: #313131;
}

.itemListWrapper {
  display: flex;
  align-items: center; /* Aligns items vertically */
  gap: 10px; /* Adds some spacing between elements */
}

.inputField {
  max-width: 400px;
  padding: 0.8rem;
  border: none;
  font-size: 1rem;
  background: #33334d;
  color: #ffffff;
  transition: 0.3s;
}

.greenText {
  color: white;
}

.remainingAmount {
  color: grey;
  font-size: 0.8rem;
}

.panelClass {
  padding: 20px;
  font-size: 1rem;
  background: #2b2b2b;
  color: #ffffff;
}

.panellistitem {
  margin-bottom: 5px;
  font-size: 20px;
}

.panellistprice {
  margin-bottom: 5px;
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: solid 1px grey;
}

input {
  font-size: 20px;
  height: 4rem;
  width: 100%;
  background-color: #2b2b2b;
  color: white;
  border: none;
  padding: 10px;
}

.randomButton {
  font-family: monospace;
}

.inputWithClear {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.autocompleteinput {
  flex: 1;
}

.clearButton {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #888;
}

.inputField:focus {
  outline: none;
  box-shadow: 0 0 8px #a29bfe;
}

.basePrice {
  margin-top: 0.6rem;
  font-size: 1rem;
  font-weight: bold;
  color: #b0b0c3;
}

.totalPrice {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: #3a6a4f;
  padding: 0.75rem 1.5rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.loadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 600px) {
  .pageContainer {
    padding: 1.5rem;

    margin-bottom: 30rem;
  }

  .panelClass {
    padding: 20px;
    width: 90%;
    font-size: 1rem;
    background: #2b2b2b;
    color: #ffffff;
  }
}
