/* General Page Styling */
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: #ffffff;
  margin-bottom: 30rem;
}

.imagePicture {
  max-width: 150px;
  max-height: 150px;
}

.pageTitle {
  font-family: monospace;
  font-size: 24px;
  margin-bottom: 1rem;
}

/* Checked Item Card */
.checkedItem {
  background-color: #6fa581 !important;
  color: rgb(0, 0, 0) !important;
}

.checkedItem .itemDescription {
  font-size: 14px;
  color: #242424;
}

/* Item Grid */
.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 2rem;
  width: 100%;
  height: calc(100vh - 150px); /* Subtract header and padding */
}

/* Individual Item Card */
.itemCard {
  font-family: monospace;
  min-width: 250px;
  max-width: 300px;
  width: 100%;
  background-color: #2b2b2b;
  color: white;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  padding: 1rem;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  text-align: center;
}

.itemCard:hover {
  background-color: #444;
  transform: scale(1.05);
}

/* Card Header */
.itemCardHeader {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Description */
.itemDescription {
  font-size: 14px;
  color: #c6c6c6;
}

/* Loading Screen */
.loadingScreen {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .itemCardHeader {
    display: none;
  }

  /* Description */
  .itemDescription {
    display: none;
  }
}
