.graphicWrapper {
  width: 50%;
  margin: auto;
  padding: 0;
  text-align: center;
}

.graphicWrapper img {
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .graphicWrapper {
    width: 100%;
    margin: auto;
    padding: 0;
    text-align: center;
  }
}
