/* General Styling */

/* Page Layout */
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.tasksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.noTasksFound {
  height: 20rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff6b6b;
  margin-top: 12rem;
  font-family: monospace;
}

.filterRow {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 20px;
  justify-content: center;
}

.filterColumn {
  flex: 1;
  min-width: 200px;
  display: flex;
  justify-content: center;
}

/* Trader & Task Cards */
.traderCard,
.taskCard {
  font-size: 14px;
  max-width: 350px;
  padding: 0.3rem;
}

.traderCard {
  background-color: #2b2b2b;
}

.taskCard {
  border-radius: 20px;
  font-family: monospace !important;
  background-color: #343434;
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
  cursor: pointer;
  margin: 0.7rem 0;
}

.taskCard:hover {
  transform: scale(1.05);
  background-color: #444;
}

.minimalTaskCard {
  border-radius: 0;
  padding: 0;
  margin: 0.2rem 0;
}

.minimalTaskCard :global(.p-card .p-card-body) {
  padding: 0rem;
}

.minimalTaskName {
  padding: 0;
}

/* Trader Header */
.traderHeader {
  font-family: monospace;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  background: #282828;
  font-size: 20px;
}

.traderImage {
  border-radius: 50px;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

/* Task Header */
.taskHeader {
  min-width: 250px;
  max-width: 350px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Task Content */
.taskSubHeader {
  font-size: 18px;
  padding-bottom: 5px;
}

.taskImage {
  padding: 10px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Task Objectives List */
.taskCard ul {
  padding-left: 1.5rem;
  list-style-type: disc;
  margin: 0;
}

.taskCard li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 2px;
}

/* Custom Bullet Points */
.taskCard li::before {
  content: "•";
  color: #90caf9;
  font-size: 1.2rem;
  margin-right: 10px;
}

/* Checked Task */
.checkedTask {
  background-color: #6fa581 !important;
  color: white;
}

/* Task Header */
.taskCardHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

/* Task Links */
.taskCard a {
  color: #90caf9;
  text-decoration: none;
  font-weight: bold;
}

.taskCard a:hover {
  text-decoration: underline;
}

.progressContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.progressBar {
  width: 20rem;
  background-color: #eeeeee;
  height: 20px;
}

.progressBar .p-progress-bar-value {
  background-color: #4caf50;
}

/* Loading Screen */
.loadingScreen {
  text-align: center;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .taskName {
    font-size: 13px;
  }

  .toggleContainerTaskDetails {
    display: none;
  }

  .filterRow {
    justify-content: start;
  }

  .noTasksFound {
    height: 5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff6b6b;
    margin-top: 2rem;
    font-family: monospace;
  }

  .mapName {
    display: none;
  }
  .taskRequirements {
    display: none;
  }

  .taskObjectives {
    display: none;
  }

  .minPlayerLevel {
    display: none;
  }

  .taskCard:hover {
    transform: none;
  }
}
