.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.switchContainer {
  display: flex;
  align-items: center;  /* gap: 6px; */
  background-color: rgb(30, 30, 30);
  padding: 8px 14px;
  color: #fff;
}

.switchLabel {
  font-size: 1rem;
  color: #fff;
  user-select: none;
  white-space: nowrap; /* Ensures label text stays in one line */
}

.switchContainer input {
  cursor: pointer;
  font-size: 20px;
  height: 2rem !important;
  width: 4rem !important;
  background-color: #2b2b2b;
  color: white;
  border: none;
  padding: 10px;
}
