.progressContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 400px; /* Prevents it from stretching too much */
  margin: auto;
}

.progressTitle {
  font-size: 24px;
  color: #ffffff;
  margin: 5px 0;
}

.progressBarContainer {
  width: 100%;
  max-width: 300px;
  height: 20px;
  background-color: #eeeeee;
  overflow: hidden;
  margin-top: 10px;
}

.progressBar {
  height: 100%;
  width: 0%; /* Default, updated dynamically */
  background-color: #4caf50; /* Green color for progress */
  transition: width 0.3s ease-in-out;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .progressContainer {
    padding: 1rem;
    padding-top: 0rem;
  }

  .progressTitle {
    font-size: 20px;
  }

  .progressBarContainer {
    max-width: 250px;
    height: 15px;
  }
}
