/* General Styling */
body,
html {
  font-family: "Inter", sans-serif;
  background-color: #121212;
  color: #ffffff;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Page Layout */
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* Loading & Error Styling */
.loadingScreen,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 2rem;
}

/* Hideout Station Cards */
.tasksContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.traderCard {
  background-color: #1e1e1e;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  width: 400px;
}

/* Header Section */
.traderHeader {
  font-family: monospace;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  background: #282828;
  font-size: 20px;
}

.traderImage {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}

.traderHeader div {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Level Details */
.levelContainer {
  padding: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.levelContainer h3 {
  color: #f0b90b;
  margin-bottom: 0.5rem;
}

.levelContainer p {
  font-size: 0.9rem;
  color: #b3b3b3;
  margin-bottom: 0.5rem;
}

.levelContainer h4 {
  margin-top: 1rem;
  font-size: 1rem;
  color: #f0b90b;
}

.levelContainer ul {
  list-style: none;
  padding: 0;
}

.levelContainer li {
  font-size: 0.9rem;
  padding: 0.3rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.itemRequirement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ffffff33;
}

.itemText {
  flex-grow: 1; /* Pushes the icon to the right */
  text-align: left; /* Ensures left alignment */
}

.icon {
  text-align: right;
  min-width: 30px; /* Ensures proper spacing */
}
